/* #404 */
.red { color:#f00;}
.error404 { padding:30px; font-size:14px;}
.error404-info h5 { padding:10px 0; margin:0px; font-size:32px;}
.error404-info h2 { color:#ff7e00;}
.error404-info p { color:#999;}
.error404-home { margin-top:8px;}